$imgAPI-femine0: 'https://via.placeholder.com/1080x497/ffb2ad/757575';
$imgAPI-femine1: 'https://via.placeholder.com/270x345/dedede/757575';
$imgAPI-femine2: 'https://i.ibb.co/Nxk5246/bg-Desk-akf1es.jpg';
$imgAPI-femine3: 'https://via.placeholder.com/400x400/4e5467/FFFFFF';
$imgAPI-femine4: 'https://via.placeholder.com/400x266/2f5ef3/FFFFFF';
$imgAPI-femine5: 'https://via.placeholder.com/400x266/dedafd/757575';
$imgAPI-femine6: 'https://via.placeholder.com/400x400/ea6f23/FFFFFF';
$imgAPI-femine7: 'https://via.placeholder.com/400x400/b79136/FFFFFF';
$imgAPI-femine8: 'https://via.placeholder.com/400x266/94fbf7/757575';
$imgAPI-femine9: 'https://i.ibb.co/98hxrqw/desk-Dark-pof62n.jpg';
